
body {
  background-color: #FFFBEC;
  min-height: 2000px;
  font-family: 'Roboto', sans-serif;
  color: hsl(240, 100%, 100%) ;
}

.icon{
  width: 50px;
  height: 60px;
  background-color: rgb(156, 23, 23);
}


.container{
  position: relative;
  top: 50%;
  left: 50%;
  background: url(/maxresdefault.jpg) no-repeat 50%  ;
  min-width: 400px;
  min-height: 425px;
  max-width: 50%;
  max-height: 50%;
  width: 400px;
  text-align: center;
  border: 3px inset #161616f5;
  
}

.resize {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 15px;
  width: 15px;
  background-color: rgb(255, 255, 255);
  cursor: nwse-resize;
  opacity: .5;
}
.resize:hover {
  opacity: 1;
}
.resize:active {
  cursor: grabbing;
}

.move {
  display: block;
  border: 1px solid black;
  height: 20px;
  width: 100%;
  cursor: grab;
  background-color: rgba(120, 124, 120, 0.979);
  opacity: .4;
  margin-bottom: 10px;
}
.move:hover {
  opacity: .7;
} 
.move:active {
  cursor: grabbing;
}
.form1{
  padding-bottom: 1px;
}

label, input, select {
  display: block;
  margin: 0 auto;
  min-width: 300px;
  
}

input, select{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  outline: none;
  cursor: pointer;
}

input:focus, select:focus{
  border-color: rgb(150, 150, 156);
}

select {
  height: 22px;
}
.sum {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  min-width: 100px;
  width: 100px;
  border-color: rgb(255, 255, 255);
}

.btn {
  background-color: rgba(120, 124, 120, 0.979);
  
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  display: block;
  cursor: pointer;
  width: 100px;
  margin: 0 auto 50px auto;
  
}

.btn:hover {
  box-shadow: 0px 7px 30px 4px rgba(0, 0, 0, 0.34);
  transform: scale(1.1);
  transition: .5s;
}


.radioInput {
  display: none;
  /* border: cornflowerblue solid 1px; */
  width: 250px;
  align-items: center;
  margin: 20px auto 30px auto;
}

.radioInput label {
  width: 150px;  
  min-width: 0;
  margin: 0;
}
.radioInput label:first-child {
  margin-right: 15px;
}
.radioInput input {
  width: 20px;
  min-width: 0;
  margin: 0;
}

/* .radio:checked {
  background-color: rgb(31, 29, 29);
} */

.tag {
  position: relative;
  display: block;
  margin-left: 30px;
  cursor: pointer;
}


.isSity {
  position: absolute;
  display: none;
  text-align: center;
  font-size: 14px;
  background-color: #6e6f72;
  padding: 5px;
  margin-left: 5px;
}
.isSity label {
  width: 150px;
  min-width: 100px;
  
}
.speedLimitRadio {
  margin: 5px auto;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 50%;
}
.active {
  display: none;
  background-color: rgb(12, 11, 17);
  border: 1px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  
}



/* input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
} */

input[type='radio']:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #0a0a0a;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}